:root {
    --pink: rgb(255, 88, 116);
}

/* ****************** */
/* Universal Selector */
/* ****************** */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ************ */
/* ID Selectors */
/* ************ */
#header-container {
    display: flex;
    justify-content: space-around;
}

#hiscore,
#timer {
    margin: 25px;
}

#hiscore {
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
    color: var(--pink)
}

#hiscore:hover {
    color: rgb(175, 101, 114);
}

#initials {
    max-width: 150px;
    margin-bottom: 10px;
    text-align: center;
}

#quiz-container,
#questions-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 50vw;
    margin: 100px auto;
}

#questions-container p {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
}

#quiz-container p {
    margin-top: 15px;
    font-size: 20px;
}

#start-button {
    margin: 20px auto;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    text-shadow:1px 1px 3px var(--pink);
    box-shadow: 0 0 10px rgba(255, 88, 116);
}

#start-button:hover,
form button:hover {
    background-color: lightblue;
    color: white;
    box-shadow: none;
    text-shadow:1px 1px 3px black;
}

#timer {
    font-size: 30px;
    font-weight: 900;
}

/* ***************** */
/* Element Selectors */
/* ***************** */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

form button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    text-shadow:1px 1px 3px var(--pink);
    box-shadow: 0 0 10px rgba(255, 88, 116);
    margin-top: 20px;
}

form button,
#initials,
form label {
    margin-left: -100px;
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

input,
label {
    display: flex;
    margin-left: 10vw
}

input {
    margin-right: 5px;
    cursor: pointer;
}

label {
    font-size: 20px;
    line-height: 2;
}

/* ***************** */
/*   Media Queries   */
/* ***************** */
@media screen and (min-width: 320px) and (max-width: 425px) {
    h1,
    #questions-container p {
        font-size: 20px;
        margin: 0;
    }

    #hiscore,
    #timer {
        font-size: 16px;
    }

    #quiz-container {
        margin-top: 10px;
    }

    #quiz-container p,
    #questions-container label {
        font-size: 12px;
    }

    #questions-container label {
        margin-top: 10px;
        margin-left: -10px;
    }

    #questions-container {
        margin-top: 40px;
    }

    #high-scores-container {
        margin-left: 25vw;
    }

    form button {
        margin-top: 5px;
        margin-right: 5px;
    }
}